@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>


<h3>Todo</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>@todo.Title</li>
    }
</ul>

<input placeholder="GETTTER DUNN" @bind="newTodo"/>
<button @onclick="AddTodo">Add</button>

@code {
    private string? newTodo;
    private List<TodoItem> todos = new();
    
    private void AddTodo()
    {
        todos.Add(new TodoItem { Title = "New Todo" });
    }
}
